{% extends "tables.html" %}
{% block body %}
<table>
    <thead>
        <tr>
            <th>Equipment Type</th>
            <th>Equipment Unique Key</th>
            <th>Student Number</th>
            <th>Student Name</th>
            <th>Verify Status</th>
            <th>Expected Return Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in pending %}
            <tr>
                <td>{{ item.equip_type }}</td>
                <td>{{ item.equip_unique_key }}</td>
                <td>{{ item.student_number }}</td>
                <td>{{ item.student_name }}</td>
                <td>{{ 'Yes' if item.is_verified else 'No' }}</td>
                <td>{{ item.requested_end_date }}</td>
                <td style="    align-items: center;
                display: flex;
                flex-direction: column;">
                    <a href="{{ url_for('admin.verify_item', unique=item.equip_unique_key) }}">
                        <button style="margin-bottom: 10px" class="btn btn-info">Verify</button>
                    </a>
                    <a href="{{ url_for('admin.disproof_item', pending_id=item.pending_id) }}">
                        <button class="btn btn-danger">Reject</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
    </tbody>
</table>


{% endblock %}